@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');


:root {
    --fondo: #a3d9ff;
    --text: #131b23;
}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 80px;
    padding: 0px 50px;
    box-shadow: var(--fondo) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, lightblue,white);
}
.header img {
    height: 80%;
}

.lista-info ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    list-style-type: none;

}

.lista-info a {
    text-decoration: none;
    color: var(--text);
    font-weight: 600;
}
#section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    background: linear-gradient(to top, lightblue,white);
    
    

}
 .section-1-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
 }

 .section-1-info h1 {
    font-size: 50px;
    font-weight: 600;
    padding-left: 80px;
    font-family: 'Roboto', sans-serif;
 }
 .section-1-info p {
    font-size: 20px;
    font-weight: 300;
    padding-left: 60px;
    
 }

 .section-1-imagen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
 }
 .section-1-imagen img {
    padding-right: 150px;
 }
 
 .section-1-info2 button {
   border-radius: 60px;
   background-color: var(--text);
   color: white;
   width: 100px;
   cursor: pointer;
   

 }
 
.section-1-info2 {
   display: flex;
   justify-content: center;
   align-items: center;
   
   
   
}
.section-1-info2 span{
   color: white;
   font-weight: 300;
   font-size: 18px;

}

.section-1-info2 a {
   text-decoration: none;
   
}

 #section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background: linear-gradient(to bottom,lightblue,white);
 }
 .section-2-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
 }

 .section-2-info img {
    width: 50%;
 }
.section-2-info h2 {
   font-weight: 600;
   font-size: 40px;
   font-family: 'Roboto', sans-serif;
}
 
 .section-2-info p {
    font-size: 20px;
    font-weight: 300;
 }

 .section-2-info span {
    font-weight: 600;
 }
 #section-3 {
   display: flex;
   flex-direction: column;
   padding: 20px 0;
   background: linear-gradient( to top,lightblue,white);
 }
 .mision {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
 }
 .mision h2 {
   text-decoration: underline;
   font-size: 40px;
   font-weight: 800;
   font-family:'Roboto', sans-serif ;
 }

 .mision p {
   font-size: 20px;
   font-weight: 600;

 }
  .mision {
   font-weight: 400;
  }

  .beneficios {
   display: flex;
   justify-content: center;
   align-items: baseline;
   gap: 40px;
   padding-top: 8%;
  }

  .garantia {
   display: flex;
   flex-direction: column;
   gap: 15px;
   justify-content: center;
   align-items: center;
   width: 30%;
   cursor: pointer;
  }
  .garantia h3{
   text-decoration: underline;
   font-size: 35px;
   font-weight: 400;
  }
  .garantia p{
   font-size: 20px;
   font-weight: 200;
  }
  .garantia span {
   font-weight: 600;
  }
  .garantia:hover{
   transform: scale(1.1);
  }
  .reparaciones {
   display: flex;
   flex-direction: column;
   gap: 10px;
   justify-content: center;
   align-items: center;
   width: 30%;
   cursor: pointer;
  }
  .reparaciones img {
   width: 60%;

  }
  .reparaciones h3 {
   text-decoration: underline;
   font-size: 35px;
   font-weight: 400;
  }
  .reparaciones p {
   padding-top: 10px;
   font-size: 20px;
   font-weight: 200;
  }
  .reparaciones span {
   font-weight: 600;
  }
  .reparaciones:hover {
   transform: scale(1.1);
  }
  .trabajo {
   display: flex;
   flex-direction: column;
   gap: 10px;
   justify-content: center;
   align-items: center;
   width: 30%;
   cursor: pointer;
   
  }
  .trabajo img {
   
   width: 70%;
   padding-bottom: 40px;
   
   
  }

  .trabajo h3 {
   text-decoration: underline;
   font-size: 35px;
   font-weight: 400;
  }

  .trabajo p {
   padding-top: 10px;
   font-size: 20px;
   font-weight: 200;
  }

  .trabajo span {
   font-weight: 600;
  }
  .trabajo:hover{
   transform: scale(1.1);
  }
  footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 30px 0px;
   gap: 30px;
   background: linear-gradient(to bottom, lightblue, white);
  }
  footer h3 {
   text-decoration: underline;
  }
  .redes {
   display: flex;
   justify-content: center;
   align-items: center;
   
  }

  .lista1 {
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   
   
   
  }
  
  .lista1 img {
   width: 20%;
  }
  



  .lista2 {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 15px;
   cursor: pointer;
   
   
  }
  .lista2 img {
   width: 10%;
   
  }
  
  .lista3 {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 15px;
   cursor: pointer;
  }
  .lista3 img {
   width: 10%;

  }









